@use "~reveal.js/dist/reset";
@use "h5bp";
@use "~reveal.js/dist/reveal";
@use "~reveal.js/dist/theme/moon";
@use "~reveal.js/plugin/highlight/monokai";
@use "~reveal.js/plugin/highlight/zenburn";

$primary-color: #eb811b;

.highlight {
  color: $primary-color;
}

.reveal {
  blockquote {
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: $primary-color;
    padding-left: 1rem !important;
    text-align: left;
  }

  h1,
  h2,
  h3 {
    text-transform: none;
  }
}

.changelog {
  p,
  li {
    font-size: 32px;
  }
}
